<footer class="d-flex flex-column justify-content-center mt-5 py-4">


    <p class="text-center">Copyright © Julie Missae Sanday, Carolina Barbosa Pacífico de Almeida, Mateus Felipe da Silveira Vieira</p>

    <h4 class="text-center">
        Licença dos Assets 
    </h4>

    <p class="text-center">
        Reset CSS - feito por meyerweb - domínio público
        
    </p>

    <p class="text-center">
        Bootstrap - Feito em 2018 por Twitter - MIT license
        
    </p>

    <div class="mb-4">
        
    </div>

</footer>