<div class="mx-5 px-5 my-1">
    <form class="d-flex justify-content-center text-start flex-column " action="/registro" method="post">

        <h1 class="text-center">Cadastre-se Agora Mesmo</h1>
    
        <div class="m-auto">
            <div class="d-flex m-5 p-5 text-bg-dark rounded flex-column justify-content-center m-0 p-0">


                <h5 class="text-center">Insira os dados solicitados</h5>

                <div class="my-3"></div>

                <label for="name">Nome Completo:</label>
                <div class="mt-1"></div>
                <input type="text" name="name" id="nome" placeholder="Meu Nome" required class="border rounded">

                <div class="my-2"></div>

                <label for="email">Email:</label>
                <div class="mt-1"></div>
                <input type="text" name="email" id="email" placeholder="email@example.com" required class="border rounded form-control">

                <div class="my-2"></div>

                <label for="password">Senha:</label>
                <div class="mt-1"></div>
                <input type="password" name="password" id="senha" placeholder="*******" required class="border rounded form-control">

                <div class="my-2"></div>

                <label for="password">Confirme a Senha:</label>
                <div class="mt-1"></div>
                <input type="password" name="password" id="senha_confirmar" placeholder="*******" required class="border rounded form-control">

                <div class="my-2"></div>

                <input class="btn btn-success form-control" type="submit" id="btn" value="Realizar Cadastro">

                <a href="/login" class="text-center mt-3">Já Possui login?</a>
            </div>
        
        </div>
    
    </form>
</div>