<nav class="container d-flex flex-row align-items-baseline navbar navbar-expand navbar-dark">
    <h3 class="text-start mx-3 logo">
        <span class="material-symbols-outlined">
            shopping_basket
        </span>

        Validade Fácil
    </h3>



    <div class="justify-content-end text-end navbar-collapse collapse ">

        <a href="#" class="mx-1 ">
            Registro
        </a>
    
        <a href="#" class="mx-1">
            <span class="material-symbols-outlined">
                account_circle
            </span>
        </a>    
        
    </div>



</nav>