<nav class="container d-flex flex-row align-items-baseline navbar navbar-expand navbar-dark">
    <h3 class="text-start mx-3 logo">
        <span class="material-symbols-outlined">
            shopping_basket
        </span>

        Validade Fácil
    </h3>



    <div class="d-flex justify-content-end text-end navbar-collapse collapse align-items-baseline ">
    <!--
        <a href="/#" class="mx-1">
            <span class="material-symbols-outlined">
                account_circle
            </span>

            <span>            

            </span>
        </a>    

    -->


    <a href="/" class="text-start mx-3 h3 text-underline">
        <span class="material-symbols-outlined">
            power_settings_new
        </span>

        <%=consulta%>
    </a>


        
    </div>



</nav>