<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Validade Fácil</title>

        <%- include("./components/head.ejs")%>

        <!--<script src="/JS/validator.js"></script>-->
</head>
<body>


    <div class="text-bg-dark">
        <%- include('./components/nav.ejs'); %>
    </div>

    <main>
        <%-include('./components/form_l.ejs')%>
    </main>

    <div class="text-bg-dark">
        <%- include("./components/footer.ejs")%>
    </div>


</body>
</html>