@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --black: rgb(0,0,0);
    --green:rgb(97, 232, 167);
    --yellow: rgb(235, 235, 103) ; 
    --white: rgb(255,255,255);
}

::selection{
    background-color: var(--bs-dark);
    color: var(--yellow);
}

h1,h2,h3,h4,h5,p,li,a{
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5{
    font-weight: bold;
}


.logo{
    color: var(--green);
    border-bottom: 2.5px solid var(--green);

}

.destaque{
    color: var(--green);

}

.text-underline{
    border-bottom: 2.5px solid var(--white);
}

h3{
    font-size: 1.5rem;
}

p,a,li,label{
    font-size: 1.1rem;
}


a{
    color: inherit;
    text-decoration: none;
}

a :visited {

}

a:hover{
    color: var(--yellow);
}

.bg-opdark{
    background-color: var(--bs-dark);
    opacity: 0.90;
    padding: 0.20rem;


}

.m-auto{
    margin: auto;
    padding: auto;
}